@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.Fav-Card-item-joke{
    position: relative;
    height: 300px;
    width: 15%;
    background-color:  var(--card_bg_color);
    border-radius: 15px;
    margin: 30px;
    transition: transform 1s ease;
    color: var(--card_text_color);
}

.Fav-Heading-joke{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


.Fav-Card-content-joke .Fav-joke-say {
    font-family: 'Tilt Neon', sans-serif;
    margin: 20px 13px 20px 15px;
    font-weight: 600;
    text-decoration: underline;
}
.Fav-Card-content-joke .Fav-setup {
    font-family: 'Tilt Neon', sans-serif;
    margin: 20px 13px 20px 15px;
}

.Fav-Card-content-joke .Fav-punchline {
    font-family: 'Tilt Neon', sans-serif;
    margin: 20px 13px 20px 15px;
}

.Fav-Card-item-quote{
    height: 300px;
    width: 15%;
    background-color:  var(--card_bg_color);
    border-radius: 15px;
    margin: 30px;
    transition: transform 1s ease;
    color: var(--card_text_color);
}

.Fav-Card-content-quote .Fav-quote-say {
    font-family: 'Tilt Neon', sans-serif;
    transform: rotateY(180deg);
    margin: 20px 13px 20px 15px;
    font-weight: 600;
    text-decoration: underline;
}
.Fav-Card-content-quote .Fav-content {
    font-family: 'Tilt Neon', sans-serif;
    transform: rotateY(180deg);
    margin: 20px 13px 20px 15px;
}

.Fav-Card-content-quote .Fav-author {
    font-family: 'Tilt Neon', sans-serif;
    transform: rotateY(180deg);
    margin: 20px 13px 20px 15px;
    font-weight: 600;
}
@media screen and (max-width:1400px) {
    .Fav-Card-item-joke{
          width: 20%;
    }
  
    .Fav-Card-item-quote{
          width: 20%;
    }
  }
  @media screen and (max-width:1200px) {
      .Fav-Card-item-joke{
          width: 25%;
      }
      
      .Fav-Card-item-quote{
          width: 25%;
      }
  }
  @media screen and (max-width:800px) {
    .Fav-Card-item-joke{
          width: 40%;
    }
  
    .Fav-Card-item-quote{
          width: 40%;
    }
  }
  @media screen and (max-width:400px) {
    .Fav-Card-item-joke{
          width: 50%;
    }
  
    .Fav-Card-item-quote{
          width: 50%;
    }
    .Fav-Heading-joke{
        font-size: 15px;
      }
  }